---
import Content from "../Content.astro";
import { Image } from "astro:assets";

import noahPhoto from "../../images/noah-headshot-cropped.jpg";

const techSkills = [
  {
    type: "Frontend",
    skills: ["React", "JavaScript", "Typescript", "HTML", "CSS", "Tailwind"],
  },
  {
    type: "Backend",
    skills: ["Node.js", "Python", "Flask", "REST", "CRUD"],
  },
  {
    type: "Fullstack",
    skills: ["Next.js", "Astro"],
  },
];
---

<section class="bg-white py-20">
  <Content>
    <div
      class="grid grid-cols-1 place-items-center gap-16 sm:grid-cols-2 md:gap-4"
    >
      <div class="order-last sm:order-first">
        <h1
          class="mb-2 bg-gradient-to-r from-primary-500 via-primary-400 to-primary-600 bg-clip-text font-mono text-4xl font-black text-transparent md:text-7xl"
        >
          Noah Spott
        </h1>
        <p class="mb-8 font-mono text-2xl uppercase tracking-wider text-dark-3">
          Web Developer
        </p>
        <h2 class="mb-2 font-mono text-2xl font-black">Tech Skills</h2>
        <ul class="flex flex-col gap-8 font-mono">
          {
            techSkills.map((skill) => {
              return (
                <li>
                  <p class="mb-4 text-sm font-bold uppercase tracking-wider text-dark-3">
                    {skill.type}
                  </p>
                  <ul class="flex flex-wrap gap-2">
                    {skill.skills.map((skill) => {
                      return (
                        <li class="rounded-full bg-primary-500 px-4 py-2 text-sm text-white">
                          {skill}
                        </li>
                      );
                    })}
                  </ul>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div class="max-w-md">
        <Image
          src={noahPhoto}
          alt="Image of Noah Spott"
          class="rounded-full shadow-2xl"
        />
      </div>
    </div>
  </Content>
</section>
