---
import Content from "../Content.astro";
import { Image } from "astro:assets";

import noahPhoto from "../../images/noah-headshot-cropped.jpg";

const techSkills = [
  {
    type: "Frontend",
    skills: ["React", "JavaScript", "Typescript", "HTML", "CSS", "Tailwind"],
  },
  {
    type: "Backend",
    skills: ["Node.js", "Python", "Flask", "REST", "CRUD"],
  },
  {
    type: "Fullstack",
    skills: ["Next.js", "Astro"],
  },
];
---

<section class="bg-white py-20">
  <Content>
    <div
      class="grid grid-cols-1 place-items-center gap-16 sm:grid-cols-2 md:gap-4"
    >
      <div class="order-last sm:order-first">
        <h1
          class="mb-2 bg-gradient-to-r from-primary-500 via-primary-400 to-primary-600 bg-clip-text font-mono text-4xl font-black text-transparent md:text-7xl"
        >
          Noah Spott
        </h1>
        <p
          class="mb-8 font-mono text-xl uppercase tracking-wider text-dark-3 md:text-2xl"
        >
          Software Engineer
        </p>
        <h2 class="mb-2 text-2xl font-black">Tech Skills</h2>
        <ul class="flex flex-col gap-4">
          {
            techSkills.map((skill) => {
              return (
                <li class="flex flex-col">
                  <p class="mb-2 self-start text-sm font-bold uppercase tracking-wider text-dark-3">
                    {skill.type}
                  </p>
                  <ul class="flex flex-wrap gap-2">
                    {skill.skills.map((tech) => {
                      return (
                        <li class="rounded-full border bg-primary-500 px-4 py-2 font-mono text-sm text-white">
                          {tech}
                        </li>
                      );
                    })}
                  </ul>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div class="max-w-md">
        <Image
          src={noahPhoto}
          alt="Image of Noah Spott"
          class="animate-shadow rounded-full shadow-2xl transition-shadow duration-1000 ease-in-out"
        />
      </div>
    </div>
  </Content>
</section>

<style>
  @keyframes shadowPulse {
    0%,
    100% {
      box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.2),
        0 8px 30px rgba(59, 130, 246, 0.3); /* Blue shadow */
    }
    50% {
      box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.2),
        0 8px 30px rgba(102, 126, 234, 0.3); /* Subtle purple shadow */
    }
  }

  .animate-shadow {
    animation: shadowPulse 4s infinite;
  }
</style>
