---
import HeroSection from "../components/sections/HeroSection.astro";
import NewReleaseSection from "../components/sections/NewReleaseSection.astro";
import PortfolioSection from "../components/sections/PortfolioSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Noah Spott | Software Engineer" description="">
  <main>
    <HeroSection />
    <NewReleaseSection />
    <PortfolioSection />
  </main>
</Layout>
